body {
    display: grid;
    place-items: center;
    height: 40vh;
    background-image: url("/img/b1.jpeg");
}

.container {
    position: relative;
    top: 15%;
    display: grid;
    place-items: center;
    width: 30%;
    height: 600px;
    background-color: rgba(109, 109, 109, 0.6);
}

/* form */
#form-div {
    width: 80%;
    height: 40%;
    background-color: rgba(109, 109, 109, 0.9);
    position: absolute;
    top: 10%;
}

#label-URL {
    position: absolute;
    top: 10%;
    left: 8%;
}

#text-field {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 80%;
}

#error-message {
    position: absolute;
    left: 32%;
    top: 23%;
    color: #900C3F;
}

#your-shrtcut-Label {
    position: absolute;
    top: 61%;
    left: 12%;
}

#a-have-link {
    position: absolute;
    top: 69%;
    left: 40%;
}

#submit-button {
    position: absolute;
    left: 30%;
    top: 40%;
}


/* tabel */
#table-div {
    background-color: rgba(109, 109, 109, 0.8);
    min-height: 10px;
    max-height: 35%;
    overflow-y: auto;
    position: absolute;
    width: 90%;
    top: 55%;
}
#table-div::-webkit-scrollbar {
    width: 6px;
    max-width: 6px;
}
#table-div::-webkit-scrollbar-thumb {
    max-width: 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

table {
    color: rgba(213, 213, 213, 1);
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
    overflow: hidden;
}

th:nth-child(1), td:nth-child(1) {
    border: 2px solid rgba(0, 0, 0, 0.6);
}

th:nth-child(n+2), td:nth-child(n+2) {
    border: 2px solid rgba(0, 0, 0, 0.6);
    width: 20px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}